functions-framework==3.4.0
flask==2.3.3
slack-bolt==1.18.1
gspread==5.10.0
google-auth==2.35.0
google-api-python-client==2.151.0
requests==2.32.3
urllib3==2.2.3
pytz==2023.3
google-cloud-tasks==2.16.0
Pillow==10.1.0